<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand  me-0 px-3 fs-6" href="/dashboard">Bug Stalker</a>

    <div class="navbar-nav">

        <div class="nav-item text-nowrap flex">

            <a class="nav-link px-3" href="/logout">Sign out</a>
        </div>
    </div>
</header>