<form action="/issues" method="post">
    <label for="sort">Sort issues by:</label>
    <button name="sortby" type="submit" value="new">new</button>
    <button name="sortby" type="submit" value="priority">priority</button>

</form>